.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-light);
}

.loadingText {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--text-light-secondary);
}

.errorText {
  font-size: 1.2rem;
  color: var(--error-color);
}
