@keyframes shake-centered {
  10%, 90% {
    transform: translate3d(calc(-50% - 1px), 0, 0);
  }
  20%, 80% {
    transform: translate3d(calc(-50% + 2px), 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(calc(-50% - 4px), 0, 0);
  }
  40%, 60% {
    transform: translate3d(calc(-50% + 4px), 0, 0);
  }
}

@keyframes shake-relative {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shakeCentered {
  animation: shake-centered 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

.shakeRelative {
  animation: shake-relative 0.5s cubic-bezier(.36,.07,.19,.97) both;
}
